-
    var bookFiguredData = {
        title: 'Фигурная абстракция',
        author: 'Чендлер Смит',
        information: {
                code: '123187432',
                publishing: 'Арт-презент',
                series: 'Искусство',
                year: '2021',
                translator: 'Панов А.',
                pages: '416',
                cover: 'Твердая',
                weight: '370',
                ageLimit: '12+',
            },
        img: `${pathContentImg}figured-abstraction.jpg`,
        width: '485',
        height: '550',

        star: '3.8',
        grade: '243',
    }

-
    var bookAnnotation = {
        heading: 'Аннотация',
        text: '«‎Фигурная абстракция» — это исследование визуальной эстетики и творческого процесса захватывающего мира фигурной абстракции. Автор, опытный дизайнер и художник, рассматривает использование абстрактных форм и линий в различных видах искусства и дизайна. Книга освещает важность формы и линии в дизайне и искусстве, а также рассматривает влияние фигурной абстракции на современный мир. Она содержит множество примеров работ, которые демонстрируют, как абстрактные формы могут быть использованы для создания мощных визуальных образов и коммуникации идей.'
    }

-
    var bookreviews = [
        {
            name: 'Алексей Иванов',
            picture: `${pathContentImg}review-4.jpg`,
            count: '23',
            review: 'Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением.'
        },
        {
            name: 'Анна Кириллова',
            picture: `${pathContentImg}review-5.jpg`,
            count: '50',
            review: 'Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!',
        },
        {
            name: 'Мария Нагаева',
            picture: `${pathContentImg}review-6.jpg`,
            count: '8',
            review: 'Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила.'
        }
    ]

-
    var bookResently = [
        {
            author: 'Кеган О.',
            name: 'Элизабет',
            description: 'Реальная история сильной женщины покорившей весь мир своей харизмой',
            img: `${pathContentImg}book-normal-peoples.jpg`,
            width: '275',
            height: '320',
            star: '4.7',
            pages: '288'
        },
        {
            author: 'Рид Ч.',
            name: 'Апельсиновый закат',
            description: 'История о небольшом японском городке, затерянном в лучах яркого солнца',
            img: `${pathContentImg}book-kingdoms.jpg`,
            width: '275',
            height: '320',
            star: '4.8',
            pages: '576'
        },
        {
            author: 'Боуи',
            name: 'Чёрный воробей',
            description: 'Загадочный детектив с продуманным сюжетом и неожиданным финалом',
            img: `${pathContentImg}books-anxious-people.jpg`,
            width: '275',
            height: '320',
            star: '5.0',
            pages: '416'
        },
        {
            author: 'Ферт',
            name: 'Белый воротник',
            description: 'Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»',
            img: `${pathContentImg}white-collar.jpg`,
            width: '275',
            height: '320',
            star: '3.5',
            pages: '208'
        },

    ]
