include figured-data.pug

ection.reviews
	.container
		h2.reviews__title.section__title Рецензии
		ul.reviews__list
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src= bookreviews[0].picture alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name= bookreviews[0].name
							p.reviews__count Купил #{bookreviews[0].count} книги
					p.reviews__review= bookreviews[0].review
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src=bookreviews[1].picture alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name=bookreviews[1].name
							p.reviews__count Купила #{bookreviews[1].count} книги
					p.reviews__review=bookreviews[1].review
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src=bookreviews[2].picture  alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name=bookreviews[2].name
							p.reviews__count Купила #{bookreviews[2].count} книг
					p.reviews__review=bookreviews[2].review
