include critique-data.pug

section.reviews
    .container
        h2.reviews__title.section__title Рецензии
        ul.reviews__list
            li.reviews__item
                .reviews__wrapper
                    .reviews__info
                        .reviews__box-images
                            img.reviews__img(src= critique[0].picture alt="Фото автора отзыва" width="80" height="80")
                        .reviews__box
                            h3.reviews__name= critique[0].name
                            p.reviews__count Купил #{critique[0].count} книги
                    p.reviews__review= critique[0].review
            li.reviews__item
                .reviews__wrapper
                    .reviews__info
                        .reviews__box-images
                            img.reviews__img(src=critique[1].picture alt="Фото автора отзыва" width="80" height="80")
                        .reviews__box
                            h3.reviews__name=critique[1].name
                            p.reviews__count Купила #{critique[1].count} книги
                    p.reviews__review=critique[1].review
            li.reviews__item
                .reviews__wrapper
                    .reviews__info
                        .reviews__box-images
                            img.reviews__img(src=critique[2].picture  alt="Фото автора отзыва" width="80" height="80")
                        .reviews__box
                            h3.reviews__name=critique[2].name
                            p.reviews__count Купила #{critique[2].count} книг
                    p.reviews__review=critique[2].review
