-
    var booksList = [
        {
            author: 'Смит Ч.',
            name: 'Фигурная абстракция',
            description: 'Про искусство, дизайн, а также теорию цвета и формы',
            img: `${pathContentImg}book-iron-king.jpg`,
            width: '275',
            height: '320',
            star: '3.8',
            pages: '416'
        },
        {
            author: 'Малкин',
            name: 'Пустошь',
            description: 'Научно-фантастический роман о путешествии через опустошенную пустыню',
            img: `${pathContentImg}book-fox-hole.jpg`,
            width: '275',
            height: '320',
            star: '4.2',
            pages: '336'
        },
        {
            author: 'Зоммер Р.',
            name: 'Высший свет',
            description: 'Научно-фантастический роман о путешествии через опустошенную пустыню',
            img: `${pathContentImg}book-just-masa.jpg`,
            width: '275',
            height: '320',
            star: '4.5',
            pages: '448'
        },
        {
            author: 'Фрэй С.',
            name: 'Ангельский мир',
            description: 'Фантастическая книга о загадочном мире ангелов и людей',
            img: `${pathContentImg}book-green-light.jpg`,
            width: '275',
            height: '320',
            star: '3.9',
            pages: '320'
        },
        {
            author: 'Плетнёв Л.',
            name: 'Завтра на завтрак',
            description: 'Мир, где технологии развиваются быстрее, чем человеческий разум',
            img: `${pathContentImg}book-sun-midnight.jpg`,
            width: '275',
            height: '320',
            star: '3.5',
            pages: '784'
        },
        {
            author: 'Бакман Ф.',
            name: 'Созерцая красоту залива',
            description: 'Захватывающая история о том, как небольшой залив превращается в источник',
            img: `${pathContentImg}book-second-life.jpg`,
            width: '275',
            height: '320',
            star: '4.4',
            pages: '384'
        },
        {
            author: 'Роуз М.',
            name: 'На грани',
            description: 'Роман о группе исследователей, которые отправляются на остров',
            img: `${pathContentImg}book-istrebitel.jpg`,
            width: '275',
            height: '320',
            star: '3.8',
            pages: '320'
        },
        {
            author: 'Новак К.',
            name: 'Сонное дерево',
            description: 'История о таинственном дереве, которое растет на границе двух миров',
            img: `${pathContentImg}book-lavr.jpg`,
            width: '275',
            height: '320',
            star: '4.1',
            pages: '488'
        },
    ]
